# ignore Python virtual environments
venv-flask/
venv/

__pycache__/
*.py[cod]
*.pyc
.env
*.db
.DS_Store

# ignore SQLite fallback
instance/

# SQLite runtime
/instance/local.db
/scripts/app.db
/app.db
